.formMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
}
.upperContainer{
    background-color: #2a3b52;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
}

h1{color: white;
    text-align: center;
}